body {
    margin: 0;
}

header {
    pointer-events: none;
    background-color: #2e2e2e;
    display: block;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    -webkit-app-region: drag;
}

header img {
    height: 30px;
}

main {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#webviewbox {
    display: block;
    position: absolute;
    top: 0%;
    bottom: 0px;
    left: 0%;
    right: 0%;
}
#webviewbox.active {
    bottom: 200px;
}

#keybottom {
    background-color: #dddddd;
    display: block;
    position: absolute;
    height: 0px;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
#keybottom.active {
    height: 200px;
}

webview {
    display:flex;
    width: 100%;
    height: 100%;
}

webview.hide {
    flex: 0 1;
    width: 0px;
    height: 0px;
}


#UX {
    display: block;
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#UX #icon-box {
    display: inline-block;
    pointer-events: auto;
    position: absolute;
    background-color: #89ffae;
    padding: 15px;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    transition: 0.5s;
}
#UX #icon-box:hover {
    background-color: #89beff;
}

#UX #icon-box img {
    width: 50px;
}


#keybottom .area-key {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
}

#keybottom .area-key .words {
    width: 70%;
    margin-right: 5px;
}

#keybottom .area-key .number {
    width: 30%;
    margin-left: 5px;
}

#keybottom .area-key .box-key {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

#keybottom .area-key .words .box-key {
    flex-wrap: nowrap;
}

#keybottom .area-key .number .box-key {
    flex-direction: row-reverse;
}



#keybottom .area-key .box-key .button {
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    box-shadow: 0px 1px 3px #000000;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
    height: 50px;
    width: 50px;
    border-radius: 15px;
    margin: 3px;
}

#keybottom .area-key .box-key .button:hover {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
}
